body {
  overflow: hidden
}

.editorcontainer {
  border-style: solid;
  border-width: 0px;
  height: 1000px;
  background-color:#D3D3D3;
  overflow: scroll
}

.container {
  position: relative;
  background-color: #F5F5F5;
}


.toolbar {
  margin: 0 auto;
  width: 90%;
}

.editor {
  background-color: white;
  height: 700px;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.searchbar {
  margin: 90 90 90 90;
}
